@charset "UTF-8";
@font-face {
    font-family: 'blackgold';
    src: url('fonte/blackgold.otf.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Cormorant';
    src: url('fonte/Cormorant/static/Cormorant-Regular.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

*{
    padding: 0px;
    margin: 0px;
    --fonte-gold: 'blackgold', cursive;
}
:root{
    --cordourado: #d9b569;
}
.header-img{
    width: 40%;
}
#frente{

}
